/*-------------------------------Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/*-------------------------------Bootstrap Custom Breakpoint @ 1024px Source: https://www.codeply.com/go/J70zkpygvk (NOT MY OWN CODE)*/ 
@media (min-width: 1025px) {     /*--IMPORTANT: media query must be 1px higher then target breakpoint--RESOLVES: ISSUE 1--*/
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

/*--(END of NOT MY CODE)--*/

/*-------------------------------Content Editing*/
/*--Brand Colours--*/
:root {
    --brand-color: #68edff;
    --brand-color-hover: #ffffff;
}

/*--Hero Image--*/
.hero__image {
    background: url(../images/steez-snowboard-instructor-shredding.jpg) no-repeat center center;
}

@media screen and (max-width: 525px) {
    .hero__image {
       background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/steez-snowboard-instructor-shredding.jpg);
       height: 60vh;
    }
}

/*--Lesson Images--*/
.product__image--beginner {
    background: url(../images/beginner-strapping-in.jpg) no-repeat center center;
    background-position: 100% 75%;
}

.product__image--intermediate {
    background: url(../images/intermediate-students-hitting-the-piste.jpg) no-repeat center center;
    background-position: 30% 60%;
}

.product__image--expert {
    background: url(../images/expert-snowboarder-carving.jpg) no-repeat center center;
    background-position: 10% 50%;
}

.product__image--park {
    background: url(../images/steez-student-snowboarder-hitting-a-kicker.jpg) no-repeat center center;
    background-position: 50% 60%;
}

.product__image--back-country {
    background: url(../images/snowboarders-reaching-peak.jpg) no-repeat center center;
    background-position: 80% 50%;
}

/*-- Lesson Image Mobile Positions--*/
@media screen and (max-width: 992px) {
    .product__image--beginner {
        background-position: 80% 100%;
    }

    .product__image--intermediate {
        background-position: 25% 20%;
    }

    .product__image--expert {
        background-position: 25% 30%;
    }

    .product__image--park {
        background-position: 45% 0%;
    }

    .product__image--country {
        background-position: 75% 50%;
    }
}

/*-------------------------------Basic Structure*/ 
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:#000000;
    background: #ffffff;
    font-size: 1rem;
    top: 0 !important;
}

main {
    padding-top: 60px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

.section {
    padding-top: 75px;
}

.collapsible-section {
    padding: 100px 0;
    margin-top: 50px;
    background-color: #e2e2e2;
}

.row {
    width: 92%;
    margin: 0 auto;
}

.link-target {
    visibility: hidden;
    position: relative;
    top: -60px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/*--Headers--*/
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem
}

.highlight {
    font-weight: 700;
}

.highlight--brand {
    color: var(--brand-color);
}

.highlight--important {
    color: #ff0000;
}

.hoz-line {
    border: 1px solid #000000;
    width: 50%;
    max-width: 250px;
    color:#000000;
}

.mobile-break {
    display: none;
}

@media screen and (max-width: 992px) {
    .mobile-break {
        display: block;
    }
}

/*--Buttons--*/
.cta,
.button {
    border: 0;
    color: #ffffff;
    background-color: var(--brand-color);
    border-radius: 5px;
    min-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    min-width: 200px;
    padding: 0px;
}

.cta:hover,
.button:hover {
    color: var(--brand-color);
    background-color: var(--brand-color-hover);
}

.button>a,
.cta>a {
    display: inline-block;
    width: 100%;
    padding: 13px;
}

.collapse-button-text-padding {
    padding: 0 13px !important;
}

/*--Form--*/
.form {
    margin-top: 35px;
}

.form__row {
    width: 60%;
}

.form__divider>.form__label {
    margin: 0px 15px 12px 15px;
}

.form__label {
    margin: 40px 15px 12px 15px;
    font-weight: 500;
    width: 100%;
}

.form__input {
    width: 100%;
    display: block;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    height: 50px;
}

.form-input-info {
    float: right;
    font-weight: 300;
}

.form__text-area {
    width: 100%;
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
}

.form__submit {
    margin-top: 40px;
}

.form--white .form__input {
    background-color: #ececec;
}

.form--white .form__submit {
    width: 100%;
}

.valid-feedback,
.invalid-feedback {
    padding: 5px 15px 0 15px;
    font-size: 1rem;
}

.star-feedback {
    position: absolute;
    margin-left: 210px;
    width: 55%;
}

/*--Star Rating Source: https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 Apdated For My Needs (NOT All MY OWN CODE)--*/
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: left;
    z-index: 2
}

.star-rating>input {
    display: none;
}

.star-rating>label {
    position: relative;
    width: 1em;
    font-size: 27px;
    color: #000000;
    cursor: pointer;
    margin: 0 8px; 
}


.star-rating>label::before {
    content: "\f005";
    position: absolute;
    top: -1px;
    opacity: 0;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 27px;
    color: var(--brand-color);
}


.star-rating>label:hover:before,
.star-rating>label:hover~label:before {
    opacity: 1 !important;
}

.star-rating>input:checked~label:before {
    opacity: 1;
}
/*--(END OF NOT MY OWN CODE)--*/

/*--Form: Mobile & Responsive--*/
@media screen and (max-width: 992px) {
    .form__divider--right  {
        margin-top: 40px;
    }

    .form-input-info {
        float: none;
        display: block;
        margin-top: 5px;
    }
    
    .carousel-indicators li:hover {
        color: #000000;
    }
}

@media screen and (max-width: 768px) {
    .form__row {
        width: 80%;
    }

    .star-feedback {
        margin-left: 0px;
        margin-top: 45px;
        width: 100%;
    }
}

@media screen and (max-width: 525px) {
    .form-input-info {
        float: none;
        display: block;
        padding-top: 5px;
    }
}

@media screen and (max-width: 425px) {
    .form__row {
        width: 92%;
    }
}

/*-------------------------------Site Header*/ 
.site-header {
    width: 100%;
    background-color: #ffffff;
    z-index: 3;
    position: fixed;
    max-height: 60px;
    filter: drop-shadow(0px 0px 5px #000000);
}

.logo-container {
    float: left;
    height: 60px;
    min-width: 330px;
    border-top: 60px solid #000000;
    border-right: 60px solid transparent;
    filter: drop-shadow(4px -2px 4px #000000);
}

.logo {
    padding: 16.5px 0;
    color: white;
    margin-top: -60px;
    margin-left: 45px;
}

.logo__text { 
    float: left;
}

.logo__text h2 {
    line-height: 0.8;
}

.logo__tagline {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ffffff;
    position: relative;
    top: 1px;
}

.site-header__nav {
    padding: 20px 0;
    height: 60px;
}

.site-header__navbar {
    padding: 10px 15px 20px 30px;
    background: #ffffff;
    width: 100%;
    border-radius: 0 0 5px 5px;
    line-height: 0.3;
}

.site-header__nav>.navbar-collapse{
    float: right;
}

.site-header__navbar li {
    display: inline;
    padding-right: 22px;
    font-size: 0.8rem;
}

.book-now-mobile {
    padding: 0px;
    display: none !important;
    background-color: var(--brand-color);
    color: #ffffff;
    border: none;
}

.site-header__navbar .active {
    border-bottom: 2px solid;
    border-color: var(--brand-color);
}

.site-header__cta {
    float: right;
    height: 40px;
    margin-right: 45px;
    min-width: 150px;
    position: relative;
    top: -10px;
    min-height: 0;
}

.site-header__cta a{
    padding: 8px;
}
/*-------------------------------Site Header & Nav: Mobile & Responsive*/
.navbar-toggler {
    padding: 10px;
    float: right;
    margin-right: 45px;
    color: #000000;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
}

@media screen and (max-width: 1024px) {
   .site-header__cta {
        margin-right: 22px;
    }
   
    .site-header__nav>.navbar-collapse {
        background: #ffffff;
        width: 100%;
        position: relative;
        top: -1px;
    }
    
    .site-header__navbar {
        padding: 0;
        text-align: center;
    }

    .site-header__navbar li {
        display: block;
        list-style: none;
        border-bottom: 1px solid #000000;
        font-size: 1rem;
        padding: 0;
    }    

    .site-header__navbar li a {
        padding: 23px 0;
        display: inline-block;
        width: 100%;
    }  
    
    .site-header__navbar .active {
        border-bottom: 0px;
        color: var(--brand-color);
    }
}

@media screen and (max-width: 768px) {
    .site-header__nav>.navbar-collapse {
        top: -1px;
    }

    .logo {
        margin-left: 32px;
    }

    .navbar-toggler {
        margin-right: 22px;
    }

}

@media screen and (max-width: 680px) {
    .book-now-mobile {
        display: block !important;
    }

    .site-header__cta {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .logo-container {
        min-width: 0;
    }

    .logo {
        margin-left: 13px;
    }
    
}

@media screen and (max-width: 319px) {
    .logo__tagline {
        display: none;
    }
}

/*-------------------------------Footer*/
.footer {
    background-color: #c4c4c4;
    margin-top: 100px;
    padding-top: 50px;
}

.footer__hoz-line {
    width: 99%;
    max-width: none;
}

.footer__content {
    position: relative;
    max-height: 370px;
}

.footer__actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    padding: 0 15px;
}

.footer__cta,
.footer__newsletter-email {
    width: 100%;
}

.footer__actions .footer__cta:last-child {
    margin-top: 20px;
}

.footer__location-map {
    min-width: 100px;
    min-height: 300px;
    margin-top: 24px;
}


/*-------------------------------Social*/
.social {
    height: 150px;
}

.social-inner {
    text-align: center;
    margin: auto 0;
}

.social__icons {
    padding: 0;
}

.social__icons li{
    display: inline;
    padding: 0 40px;
    font-size: 3.5rem;
}

/*-------------------------------Legal*/
.legal {
    width: 100%;
    background-color: #a6a6a6;
    font-size: 0.65rem;
}

.legal-inner {
    width: 92%;
    margin: auto;
    padding: 7.5px 0;
    height: 30px;
    font-weight: 500; 
}

.legal__copywrite {
    float: left;
}

.legal__copywrite p {
    margin: 0;
}

.legal__nav {
    float: right;
}

.legal__documents {
    padding-left: 0px;
}

.legal__documents li {
    display: inline;
    padding-left: 20px;
}

.legal__documents li a {
    padding: 5px 0;
}

/*-------------------------------Footer (All Sections): Mobile & Responsive*/
@media screen and (max-width: 991px) {
    .footer__content {
        margin-top: 50px; 
    }

    .footer__actions {
        position: static;
        padding: 0;
    }
    
    .footer__newsletter {
        margin-top: 0px;
    }

    .foote__location p {
        margin-bottom: 16px;
    }

    .social__icons li {
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .social__icons li {
        padding: 0 15px;
    }
}

@media screen and (max-width: 425px) {
    .social__icons li {
        font-size: 3.5rem;
        padding: 0 10px;
    }
}

@media screen and (max-width: 374px) {
    .social__icons li {
        font-size: 3rem;
        padding: 0 5px;
    }
}

/*-------------------------------Hero Image - Landing Page(Lessons)*/
.hero {
    padding-top: 0;
}

.hero__image {
    position: relative;
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.hero-inner {
    position: absolute;
    left: 5%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
}

.hero__title {
    font-weight: 700;
    font-size: 3.25rem;
}

.hero__hoz-line {
    width: 505px;
    border: 1px solid;
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.hero__tagline {
    font-size: 2rem;
    font-weight: 700;
}

.hero__tagline--black {
    color: #000000;
}

.hero__cta {
    margin-top: 20px;
    margin-right: 20px;
}


/*-------------------------------Hero: Mobile & Responsive*/
@media screen and (max-width: 1024px) {
    .hero__image {
        background-position: 62% 50%;
    }

    .hero__cta {
        width: 227px;
    }
}

@media screen and (max-width: 768px) {
    .hero__hoz-line {
        width: 325px;
    }

    .hero__cta {
        display: block;
    }
}

@media screen and (max-width: 768px) {   
    .hero__image {
        background-position: 70% 50%;
    }

    .hero--inner {
        width: 92%;
    }

    .hero__title {
        font-size: 2.25rem;
    }

    .hero__tagline {
        font-size: 1.25rem;
    }

    .hero__hoz-line {
        width: 205px;
    }
}

@media screen and (max-width: 375px) {
    .hero-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .hero__title {
        font-size: 1.75rem;
    }

    .hero__tagline, 
    .hero__discount {
        font-size: 1rem;
    }

    .header__tagline {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 320px) {
    .hero__cta {
        width: 100%;
    }
}

/*-------------------------------Page Headers*/
.header {
    text-align: center;
    max-width: 92%;
    margin: 0 auto;
}

.header--page {
    padding-top: 75px;
}

.header-spacing {
    margin-top: 35px;
    margin-bottom: 0px;
}

.header__title {
    font-size: 2rem;
}

.header__tagline {
    font-size: 1.75rem;
}

.header__info {
    font-size: 1.5rem;
}

.header__info-small {
    font-size: 1.25rem;
}

.header__cta,
.header__button {
    margin-left: 20px;
    margin-right: 20px;
}

/*-------------------------------Product*/
.product-row {
    margin-top: 100px;
}

.product {
    max-width: 1700px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

/*--Lesson Card--*/
.product-card {
    max-width: 860px;
    width: 45%;
    height: 600px;
    min-width: 375px;
}

.product-card--left {
    position: absolute;
    left: 50px;
}

.product-card--right {
    position: absolute;
    right: 50px;
}

.product-card__background {
    background-color: #e2e2e2;
    height: 100%;
    width: 100%;
}

.product-card__content {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 85%;
    margin: 0 auto;
    
}

.product-card__title {
    font-weight: 700;
    font-size: 1.75rem;
}

.product-card__tagline {
    font-weight: 700;
    font-size: 1rem;
}

.product-card__price-strip {
    width: 100%; 
    color: #ffffff;
    background-color: var(--brand-color);
    margin: 20px 0;
}

.product-card__price {
    padding: 5px 0;
    margin: 0;
}

.product-card__info {
    list-style: none;
    text-align: left;
}

.product-card__info li {
    padding-top: 5px;
}

.product-card__info li:first-child {
    padding-top: 0px;
}

.product-card__cta {
    margin: 20px auto 0;
    width: 45%;
}

/*--Product Transformations--*/
.product-skew-left {
    transform: skew(10deg);
}

.product-skew-right {
    transform: skew(-10deg);
}

/*--Product Image--*/
.product__image {
    width: 57%;
    height: 600px;
    background-size: cover;
}

.product__image--left {
    float: left;
}

.product__image--right {
    float: right;
}

.image-crop {
    width: 0;
    height: 0;
    border-bottom: 600px solid;
    position: absolute;
    bottom: 0;
}

.image-crop--right {
    right: 0px;
    border-left: 95px solid transparent;
}

.image-crop--left {
    left: 0px;
    border-right: 95px solid transparent;
}

.image-crop--white {
    border-bottom-color: #ffffff;
}

.arrow {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    width: 100%;
}

/*-------------------------------Product: Mobile & Responsive*/
@media screen and (max-width: 1024px) {
    .product-card__cta {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .product-skew-mobile {
        transform: skewY(-5deg);
    }

    .product-realign-mobile {
        transform: skew(5deg) rotate(5deg);
    }

    .price-strip-realign-mobile {
        transform: rotate(5deg);
    }

    .price-realign-mobile {
        transform: skew(5deg);
    }

    .product-card {
        position: relative;
        top: -460px;
        margin-top: 460px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        min-height: 775px;
        max-width: 100%;
        z-index: 2;
        min-width: 0px;
    }

    .product-card__tagline {
        font-size: 1.25rem;
    }

    .product__image {
        position: absolute;
        bottom: 0px;
        max-height: 500px;
        height: 45%;
        width: 100%;
        float: none;
        background-size: cover; 
    }

    .image-crop {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .product-card__info {
        padding-left: 0;
        margin: 0 auto;
        width: 80%;
    }
    
    .product-card__info strong {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .product-card__content {
        background-color: #e2e2e2;
        width: 100%;
        padding: 50px auto;
    }

    .product-card__content>* {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .product-card {
        min-height: 850px;
    }
}

/*-------------------------------Reviews*/
.carousel-item {
    width: 80%;
    left: 10%;
    margin-top: 50px;
}

.carousel>.header__info-small {
    text-align: center;
}

.review {
    margin-top: 50px;
}

.review:first-child {
    margin-top: 0px;
}

.review__stars {
    color: var(--brand-color);
    width: 100%;
    font-size: 27px;
    padding: 8px 0 16px;
}

.review__info {
    margin: 0;
}

/*--Review Buttons--*/
.carousel-indicators {
    position: static;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
}

.carousel-indicators li {
    color: #000000;
    background: transparent;
    width: auto;
    min-width: 0;
    height: auto;
    min-height: 0;
    text-indent: 0;
    opacity: 1;
    margin: 0 10px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.carousel-indicators li:hover {
    color: var(--brand-color);
}

.carousel-indicators__label{
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 1.25rem;
}

.carousel-indicators .active {
    border-color: var(--brand-color);
}

.carousel-inner {
    margin: 0 auto;
    background: transparent;
}

.carousel-inner .active{
    border: none;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:focus,
.carousel-control-prev:focus {
    color: #000000;
    opacity: 1;
    width: 10%;
    background-color: #ffffff;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    color: var(--brand-color);
}

.review-arrow {
    font-size: 30px;
}

/*-------------------------------Review: Mobile & Responsive*/
@media screen and (max-width: 1024px) {
    .carousel-inner .active {
        background: transparent;
    }
}

@media screen and (max-width: 992px) {
    .carousel-indicators {
        display: block;
        text-align: center;
    }

    .carousel-indicators li {
        padding: 8px 0;
        width: 75%;
        margin: 0 auto;
    }
    
    .carousel-indicators li:hover {
        color: #000000;
    }
}

@media screen and (max-width: 768px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}

/*-------------------------------Contact Us*/
.contact-hoz-line {
    width: 100%;
    max-width: none;
}

/*-------------------------------Google Translate*/
.google-translate-container {
    margin-bottom: 0px;
    position: absolute;
    left: 40px;
}

.google-translate__dropdown {
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 115%;
	left: -50%;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 150px;
	text-align: center;
	padding-top: 0;
    z-index: 10;
    border: 2px solid var(--brand-color);
    border-top: 0px;
    border-bottom: 0px;
}

.google-translate__dropdown li{
	background: #ffffff;
	padding: 5px;
    color: #000000;
}

.google-translate__dropdown li a{
	display: block;
}

.google-translate__dropdown li:first-child {
	padding-top: 10px;
	border-radius: 3px 3px 0 0;
}

.google-translate__dropdown li:last-child {
	padding-bottom: 10px;
	border-radius: 0 0 3px 3px;
}

.google-translate__dropdown li:hover {
	background: var(--brand-color);
    color: #ffffff;
}

.google-translate__dropdown:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 8px;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 8px;
	border-left-width: 8px;
	border-bottom: 8px solid var(--brand-color);
}

.google-translate {
	position: relative;
    background: var(--brand-color);
    color: #ffffff;
    padding: 2px 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 5px 5px;
    display: inline-block;
}

.google-translate:hover .google-translate__dropdown{
	max-height: 400px;
	padding-top: 8px;
}

.fa-language {
    font-size: 27px;
}

.fa-angle-down::before {
    position: relative;
    top: -3px
}

.goog-te-banner-frame {
    display: none;
}

/*-------------------------------Google Translate Mobile*/
.google-translate-mobile {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .google-translate-container {
        display: none;
    }
    
    .google-translate-mobile {
        display: block !important;
    }
    
    .google-translate__button {
        width: 100%;
        height: 50px;
        color: var(--brand-color);
        background-color: transparent;
        border: 2px;
    }

    .google-translate-collapse-dropdown li a{
        padding: 17px !important;
    }
}