/*-------------------------------Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/*-------------------------------Basic Structure*/ 
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:#000000;
    background: #e2e2e2;
    font-size: 1rem;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 1.5rem;
}

hr {
    border: 1px solid #000000;
    width: 50%;
}

::placeholder {
 padding-left: 10px;
}

input {
    border: 0px;
    border-radius: 5px;
}

.button {
    background-color: #ff0000;
    border-radius: 5px;
    color: #ffffff;
    height: 40px;
    padding: 0 20px;
    border: 0px;
}

/*-------------------------------Footer*/
.footer-container {
    background-color: #c4c4c4;
}

.footer-content {
    width: 92%;
    margin: 0 auto;
    padding: 20px 0;
    height: 500px;
}

.newsletter {
    text-align: center;
    margin: auto 0;
}

#newsletter-email {
    width: 70%;
    height: 40px;
    min-width: 270px;
}

.location-map {
    min-width: 100px;
    min-height: 350px;
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*-------------------------------Social*/
.social-container {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 40px;
    height: 150px;
}

.social {
    text-align: center;
    margin: auto 0;
}

.social ul {
    padding: 0;
}

.social ul li{
    display: inline;
    padding: 0 40px;
    font-size: 3.5rem;
}

/*-------------------------------Legal*/
.legal {
    width: 100%;
    background-color: #a6a6a6;
    font-size: 0.65rem;
}

.legal-content {
    width: 92%;
    margin: auto;
    padding: 7.5px 0;
    height: 30px;
    font-weight: 500; 
}

.copywrite {
    float: left;
}

.legal-documents {
    float: right;
}

.legal-documents-navbar li {
    display: inline;
    padding-left: 20px;
}