/*-------------------------------Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/*-------------------------------Basic Structure*/ 
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:#000000;
    background: #e2e2e2;
    font-size: 1rem;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}